.about-split {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  padding: 0;
  margin-top: 80px; 
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15); 
  border-radius: 10px;

  .strategist {
    flex: 1;
    padding: 100px;
    background-image: url('../img/background-about.jpg');
    background-size: 410% 125%;
    background-position: center;
    border-radius: 10px 0 0 10px;

    h2 {
      font-size: 3rem; 
      margin-bottom: 0.625rem;
      color: #e3dbdb;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        font-size: 1.5rem;
        margin-bottom: 0.313rem;
        color: #dfd6d6;
      }
    }
  }

  .creator {
    flex: 1;
    padding: 80px;
    background-image: url('../img/background-about.jpg');
    background-size: 400% 100%;
    background-position: 200% 0%;
    border-radius: 0 10px 10px 0;

    h2 {
      font-size: 3rem;
      margin-bottom: 0.625rem;
      color: #fffafa;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        font-size: 1.5rem;
        margin-bottom: 0.313rem;
        color: #fffefe;
      }
    }
  }
}

.pie-chart {
  margin-top: 15%;
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: lightgray; 
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: gray; 
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
    transform-origin: center;
    transform: rotate(20deg); 
    transition: transform 1.5s ease-out;
  }

  &:hover::before {
    transform: rotate(108deg); 
  }

  .label-strategist, .label-creator {
    position: absolute;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }

  .label-strategist {
    top: 50%;
    left: 70%;
    transform: translateY(-50%);
  }

  .label-creator {
    top: 50%;
    right: 70%;
    transform: translateY(-50%);
  }
}
// Media queries for responsive design

// Tablets and small desktops
@media (max-width: 992px) {
  .about-split {
    flex-direction: column; // Cambia a columna en pantallas pequeñas
    margin-top: 40px; // Reduce el margen superior
    box-shadow: none; // Elimina la sombra en pantallas pequeñas

    .strategist,
    .creator {
      padding: 60px; // Reduce el padding
      border-radius: 10px; // Ajusta el borde redondeado
    }

    .strategist h2,
    .creator h2 {
      font-size: 2.5rem; // Tamaño de título más pequeño
    }

    .strategist ul li,
    .creator ul li {
      font-size: 1.3rem; // Ajusta el tamaño del texto en la lista
    }
  }

  .pie-chart {
    width: 400px; // Reduce el tamaño de la gráfica circular
    height: 400px;

    .label-strategist,
    .label-creator {
      font-size: 1.2rem; // Ajusta el tamaño de las etiquetas
    }
  }
}

