.download-resume {
    display: flex;
    justify-content: center;
    margin: 50px 0; /* Espaciado superior e inferior */
}

.btn-download {
    background: linear-gradient(45deg, #ff6a00, #ee0979); /* Gradiente */
    color: #fff;
    padding: 20px 60px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 50px;
    text-decoration: none;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    animation: bounce 2s infinite; /* Animación de rebote */
}

.btn-download:hover {
    background: linear-gradient(45deg, #ee0979, #ff6a00); /* Inversión de gradiente */
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.4); /* Más sombra al pasar el mouse */
    transform: scale(1.12); /* Agrandado */
    animation: pulse 1s infinite alternate; /* Pulso en hover */
}

.btn-download:active {
    transform: scale(0.96); /* Efecto de presión */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Sombra reducida */
}

/* Animación de rebote */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-8px);
    }
    60% {
        transform: translateY(-4px);
    }
}

/* Animación de pulso en hover */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}
