.custom-footer {
    padding: 3rem 0;
    margin: 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    font-family: 'Playfair Display', serif;
    width: 100%;
    box-sizing: border-box;
    border-top-left-radius: 20px; // Esquina superior izquierda redondeada
    border-top-right-radius: 20px; // Esquina superior derecha redondeada
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2); // Sombra para dar profundidad
    overflow: hidden; // Asegura que los elementos internos no sobresalgan de los bordes
    margin-top: 2%;

    p {
        font-size: 1.2rem;
        margin: 0 0 1rem;
        color: #eee;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        width: 100%;

        input, textarea, button {
            width: 90%;
            max-width: 600px;
            padding: 15px;
            font-size: 1rem;
            border-radius: 10px;
            border: 1px solid #ddd;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            color: #333;
            background-color: #fff;
            margin: 0;
            box-sizing: border-box;
        }

        button {
            background-color: #ff6347;
            color: #fff;
            font-weight: bold;
            border: none;
            cursor: pointer;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            box-shadow: 0 4px 8px rgba(255, 99, 71, 0.3);
            &:hover {
                transform: scale(1.05);
                box-shadow: 0 8px 15px rgba(255, 99, 71, 0.5);
            }
        }
    }

    .social-links {
        margin-top: 2rem;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        gap: 15px;
        width: 100%;
        padding: 0;

        a {
            color: #ddd;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 5px;
            transition: color 0.3s ease, transform 0.3s ease;

            i {
                font-size: 1.3rem;
            }

            &:hover {
                color: #fff;
                transform: scale(1.1);
            }
        }
    }
}

/* Media Queries */
@media (max-width: 768px) {
    .custom-footer {
        padding: 2rem 0;
    }
}

@media (max-width: 480px) {
    .custom-footer {
        padding: 1.5rem 0;
        p {
            font-size: 0.9rem;
        }
    }
}
