header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 3rem 8rem; 
  height: 7rem; 
  width: 100%;

  .logo {
    img {
      width: 5rem; 
      height: auto;
      margin: 0%;
      padding: 0%;
    }
  }

  .phone-number {
    font-size: 2rem;
    color: #fff;
    text-align: right;
  }
}



