$header-bg-color: #333; // Color de fondo del header
$highlight-color: #ff6347; // Ajusta este color como prefieras
$text-color: #666;
$font-family: 'Helvetica Neue', Arial, sans-serif; // Tipografía similar a la de Adam
